In [1]:
import pandas as pd

In [2]:
#read csv (comma separated value) into data
data = pd.read_csv('water_qualityfinalt.csv')

In [4]:
#head or tail
data.head(1)

,ph,dissolved_oxygen,turbidity,conductivity,tds,nitrate,phosphate,temperature,bod,water_quality
0,7.24908,10.18897,1.007151,335.494982,204.682274,41.462187,3.366788,15.730391,6.147963,3

In [5]:
data.columns

Index(['ph', 'dissolved_oxygen', 'turbidity', 'conductivity', 'tds ',
       'nitrate', 'phosphate ', 'temperature', 'bod ', 'water_quality'],
      dtype='object')

In [6]:
data.shape

(500, 10)

In [7]:
data.describe()

,ph,dissolved_oxygen,turbidity,conductivity,tds,nitrate,phosphate,temperature,bod,water_quality
count,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.00000
mean,7.497123,8.891708,2.636035,323.062069,299.937444,25.495908,2.494222,19.658200,5.386139,2.00000
std,0.597377,1.712961,1.456245,157.855421,114.323663,14.638303,1.412108,5.800797,2.545344,0.70213
min,6.510123,6.027792,0.124206,51.770045,100.626042,0.500576,0.019941,10.013068,1.000276,1.00000
25%,6.982559,7.374595,1.282017,182.590849,207.244876,13.360802,1.256102,14.629031,3.164261,2.00000
50%,7.526327,8.830929,2.744718,329.890236,298.404991,25.341778,2.599624,19.175554,5.501069,2.00000
75%,8.012250,10.358021,3.908984,455.556938,397.317351,38.511368,3.631174,25.017430,7.286747,2.00000
max,8.485930,11.998306,4.997127,599.091131,498.175006,49.892132,4.994474,29.991154,9.979745,3.00000

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ph                500 non-null    float64
 1   dissolved_oxygen  500 non-null    float64
 2   turbidity         500 non-null    float64
 3   conductivity      500 non-null    float64
 4   tds               500 non-null    float64
 5   nitrate           500 non-null    float64
 6   phosphate         500 non-null    float64
 7   temperature       500 non-null    float64
 8   bod               500 non-null    float64
 9   water_quality     500 non-null    int64
dtypes: float64(9), int64(1)
memory usage: 39.2 KB

In [9]:
data.isnull().sum()

ph                  0
dissolved_oxygen    0
turbidity           0
conductivity        0
tds                 0
nitrate             0
phosphate           0
temperature         0
bod                 0
water_quality       0
dtype: int64

In [11]:
data['ph'].fillna(data['ph'].mean(), inplace=True)

C:\Users\Michelle\AppData\Local\Temp\ipykernel_1120\1151331333.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['ph'].fillna(data['ph'].mean(), inplace=True)

In [12]:
import numpy as np

In [13]:
data.corr()

,ph,dissolved_oxygen,turbidity,conductivity,tds,nitrate,phosphate,temperature,bod,water_quality
ph,1.000000,0.010354,0.053966,-0.014562,0.004400,-0.003653,-0.050631,0.007542,0.080283,0.158207
dissolved_oxygen,0.010354,1.000000,-0.025912,0.000523,-0.027506,0.025289,-0.028035,-0.009357,0.090012,0.179599
turbidity,0.053966,-0.025912,1.000000,0.005223,0.103376,0.047427,-0.013618,0.021045,0.071182,-0.077681
conductivity,-0.014562,0.000523,0.005223,1.000000,0.000256,-0.048202,0.008441,0.000207,0.025203,-0.024126
tds,0.004400,-0.027506,0.103376,0.000256,1.000000,-0.056618,-0.000037,0.013291,0.029542,-0.788384
nitrate,-0.003653,0.025289,0.047427,-0.048202,-0.056618,1.000000,-0.001821,-0.025875,-0.008222,0.125491
phosphate,-0.050631,-0.028035,-0.013618,0.008441,-0.000037,-0.001821,1.000000,0.068893,-0.013685,-0.036976
temperature,0.007542,-0.009357,0.021045,0.000207,0.013291,-0.025875,0.068893,1.000000,0.011697,-0.013042
bod,0.080283,0.090012,0.071182,0.025203,0.029542,-0.008222,-0.013685,0.011697,1.000000,0.030968
water_quality,0.158207,0.179599,-0.077681,-0.024126,-0.788384,0.125491,-0.036976,-0.013042,0.030968,1.000000

In [14]:
data.dropna(inplace=True)

In [21]:
from sklearn.model_selection import train_test_split

In [22]:
X = data.iloc[:,:-1].values

In [23]:
y = data['water_quality']

In [68]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [69]:
print("Shape of X_train:", X_train.shape)  # Should be (400, 9) if test_size=0.2
print("Shape of y_train:", y_train.shape)

Shape of X_train: (400, 9)
Shape of y_train: (400,)

In [26]:
from sklearn.tree import DecisionTreeClassifier #Import Decision Tree Classifier
from sklearn import metrics #import scikit-lear metrics module for accuracy calculation

In [70]:
#create Decision Tree Classifier object
clf = DecisionTreeClassifier()

In [67]:
print(X.shape)
print(y.shape)

(500, 9)
(500,)

In [75]:
clf = clf.fit(X_train, y_train)

In [77]:
y_pred = clf.predict(X_test)

In [78]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred)*100)

Accuracy: 99.0

In [79]:
from sklearn import tree

text_representation = tree.export_text(clf)
print(text_representation)

|--- feature_4 <= 400.00
|   |--- feature_4 <= 294.73
|   |   |--- feature_1 <= 7.99
|   |   |   |--- class: 2
|   |   |--- feature_1 >  7.99
|   |   |   |--- feature_0 <= 7.00
|   |   |   |   |--- class: 2
|   |   |   |--- feature_0 >  7.00
|   |   |   |   |--- class: 3
|   |--- feature_4 >  294.73
|   |   |--- class: 2
|--- feature_4 >  400.00
|   |--- class: 1